
<br/>
<div class="jumbotron">
  <h1>Blog</h1>
  <p>Post a message and discuss!</p>
  <p>
      <%#= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> 
      <%#= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>



